/**********************************************************/
/* File:    style.css                                     */
/* Course:  CS597 Multimedia and Web Development BH2 FA16 */
/* Author:  Srilatha Mada	                               */
/* History: 2016-12-12 Created by Prof.John Cupak         */
/*          2016-12-12 Modified by Srilatha Mada          */
/**********************************************************/

/**********************************************************/
/* PART 1 - LAYOUT                                        */
/**********************************************************/

/**********************************************************/
/* 1.1 Specify main body size and font                    */
/**********************************************************/

body {
	width            : 960px;/* 1.1.1 960 pixels wide */
	margin           : 10px auto auto 0;/* 1.1.2 Top 10 pixels, left-right auto */
	font             : Georgia, "Times New Roman", Times, sans-serif;/* 1.1.3 10 points with 1.5em leading. sans-serif families */
	}
	
/**********************************************************/
/* 1.2 Specify outer container layout                     */
/**********************************************************/
#page {
	display          : flex;
	flex-direction   : column; /* 1.2.1 top-to-bottom */
	}
	
/**********************************************************/
/* 1.3 Specify header layout                              */
/**********************************************************/
header {
	display          : flex;
	flex-direction   : column;/* 1.3.1 top-to-bottom */
	}
header hgroup {
	display           : flex;
	flex-direction    : row;/* 1.3.2 left-to-right */
	justify-content   : space-between;/* 1.3.3 space between */
	margin            : 0px 10px 10px 10px;
	}




/**********************************************************/
/* 1.4 Specify navigation layout - MAKE NO CHANGES!       */
/**********************************************************/
nav {
	height            : 40px;
	margin-bottom     : -10px;
	}
nav ul {
	margin            : 0;
	padding           : 0;
	}
nav li {
	list-style        : none;
	float             : left;
	}
nav a {
	padding           : 10px 15px;
	font-size         : 15px;
	font-weight       : bold;
	text-decoration   : none;
	}

/**********************************************************/
/* 1.5 Specify content, section, article and aside layout */
/**********************************************************/
#content {
	display         : flex;
	flex-direction  : row;/* 1.5.1 Left-to-right */
	justify_content : center;
	}
section, aside {
	display         : flex;
	flex-direction  : column;/* 1.5.2 Top-to-bottom */
	padding         : 5px 10px;
	}
section {
	width           : 80%;
	}
article {
	padding         : 0 10px;
	}

aside ul {
	margin            : 0 10px;
	padding           : 0;
	}
aside li {
	list-style        : none;
	margin-bottom     : 10px;
	}
aside a {
	text-decoration   : none;
	font-size         : 1.2em;
	}
#floating-img img{
		float       : left;
		margin-right: 10px;
		
	}

/**********************************************************/
/* 1.5 Specify footer layout                              */
/**********************************************************/
footer {
	display           : flex;
	flex-direction    : row;/* 1.5.1 Left-to-right */
	justify-content   : space-between;/* 1.5.2 Space between */
	align-content     : center;/* 1.5.2 Center        */
	padding           : 0 10px;
	}
footer a:link {
	text-decoration   : none;
	}

/**********************************************************/
/* PART 2 - COLORS                                        */
/**********************************************************/
body {
	background-color : #338E25; /* 2.1 paletton.com color-primary-4 */
	}
#page {
	background-color : white;
	color            : black;
	}
header, footer {
	background-color : #79CB6C; /* 2.2 paletton.com color-primary-0 */
}
header h1, header h2 {
	color             : #338E25; /* 2.3 paletton.com color-primary-4 */
	}
nav a {
	color             : #338E25; /* 2.4 paletton.com color-primary-4 */
	background-color  : #CCF0C6; /* 2.5 paletton.com color-primary-1 */
	border-right      : 1px solid #79CB6C; /* 2.6 paletton.com color-primary-0 */
	}
p a {
	color             : #338E25; /* 2.4 paletton.com color-primary-0 */
	}
/* See http://www.hicksdesign.co.uk/journal/highlighting-current-page-with-css */
/* nav links with same class as body id toggle color */
body#home_page  a.home_page,
body#about_me   a.about_me,
body#my_courses a.my_courses,
body#contact_me a.contact_me {
	background-color  : #50AB42; /* 2.7 paletton.com color-primary-3 */
	color             : #CCF0C6; /* 2.8 paletton.com color-primary-1 */
	}
#content h2, #content h3, #content h4 {
	color             : #338E25; /* 2.9 paletton.com color-primary-4 */
	}
section {
	border-right      : 1px dotted #338E25; /* 2.10 paletton.com color-primary-4 */
	}
aside a {
	color             : #50AB42; /* 2.11 paletton.com color-primary-3 */
	}
	
footer h3, footer h4 {
	color             : #338E25; /* 2.12 paletton.com color-primary-4 */
	}
footer a {
	color             : #CCF0C6; /* 2.13 paletton.com color-primary-1 */
	}
	
/**********************************************************/
/* PART 3 - BEHAVIOR                                        */
/**********************************************************/

nav a:hover {
	background-color  : #338E25; /* 3.1 paletton.com color-primary-4 */
	color             : #CCF0C6; /* 3.2 paletton.com color-primary-1 */
	}
aside a:hover {
	text-decoration   : underline;/* 3.3 Underline */
	}
footer a:hover {
	text-decoration   : underline;/* 3.4 Underline */
	}
/**********************************************************/
/* PART 4 - ICONS                                        */
/**********************************************************/



a[href ^= "#"]{
				background   : url(assets/media/icons/icon_int_10x10.png);
				background-repeat : no-repeat;
				background-position : right center;
				padding-right : 12px;
			}
			/* External Link */
	
			a[href ^= "http"] {
			
				background   : url(assets/media/icons/icon_ext_10x10.gif);
				background-repeat : no-repeat;
				background-position : right center;
				padding-right : 12px;
			}
	
			a[target=_blank] {
				background   : url(assets/media/icons/icon_redir_10x10.gif);
				background-repeat : no-repeat;
				background-position : right center;
				padding-right : 12px;
			}

	
			a[href^="mailto:"] {
				background   : url(assets/media/icons/icon_mail_10x10.png);
				background-repeat : no-repeat;
				background-position : right center;
				padding-right : 12px;
			}

			
			a[href $=".pdf"]{
				background   : url(assets/media/icons/icon_pdf_10x10.gif);
				background-repeat : no-repeat;
				background-position : right center;
				padding-right : 12px;
			}
				
			
			a[href$="docx"]{
				background   : url(assets/media/icons/icon_doc_10x10.gif);
				background-repeat : no-repeat;
				background-position : right center;
				padding-right : 12px;
			}	